<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const test={
		  language:"java",
		  level:"middle",
		  limit:23
		  };

const test={
		language:"java",
		add:function(a,b){
				return a+b;
		}
};

$(function(){
	console.log(test.language);
}

$(function(){
	console.log(test.add(2,4));
}




let interval;
let memberService = {
getToken:function(token, send, finished, timer){
	const tk = String(Math.floor(Math.random()*1000000)).padStart(6,"0")
	token.text(token);
	send.attr("style","background-color: #FFFFFF; cursor:default;");
	send.attr("disabled", true);
	finished.attr("style", "background-color: #0068FF; color: #FFFFFF; cursor:pointer;");
	finished.attr("disabled", false);
	this.getTimerInterval(token, send, finished, timer);
},


function getTimerIntervalConfirm(){
	clearInterval(interval)
	finished.attr("style", "background-color: #FFFFFF; cursor: default;");
	finished.attr("disabled", true);
	finished.text("인증완료");
	alert("인증이 완료되었습니다.");
	signup__button").attr("style","background-color: #FFFFFF; color: #2c3639; border:1px solid #2c3639; cursor: pointer;");
	signup__button").attr("disabled" , false);
}


let interval;
let memberService = {
		getToken:function(token, send, finished, timer){
			
		}
}
</script>
</head>
<body>

</body>
</html>









let interval;
let memberService={
    getToken:function(token, send, finished, timer){
        const tk = String(Math.floor(Math.random()*10000000)).padStart(6,"0")
        token.text(tk);
        send.attr("style", "background-color: #ffffff; cursor: default;")
        send.attr("disabled", true);
        finished.attr("style", "background-color: #0068ff; color: #ffffff; cursor: pointer;")
        finished.attr("disabled", false);
        this.getTimerInterval(token, send, finished, timer);
    },

    getTimerIntervalConfirm:function(finished, signup){
        clearInterval(interval)
        finished.attr("style", "background-color: #ffffff; cursor:default;");
        finished.attr("disabled", true);
        finished.text("인증완료");
        alert("인증이 완료되었습니다.");
        signup.attr("style", "background-color: #ffffff; color:#2c3639; border: 1px solid #2c3639; cursor:pointer;")
        signup.attr("disabled", false);
    }
}function getTimerInterval(){
		let time = 179;
		interval = setInterval(()=>{
			if(time >= 0){
				const minutes = Math.floor(time/60);
				const seconds = time%60;
				$("#timer").text(minutes + ":" + String(seconds).padStart(2,"0"));
				time -= 1;
			}else{
				$("#token").text("000000");
				$("#send").attr("style", "");
				$("#send").attr("disabled", true);
				$("#timer").text("3:00");
				$("#finished").attr("style", "");
				$("#finished").attr("disabled", true);
				clearInterval(interval);
			}
		}, 1000);
	}




















